@if (pizza) {
  <div *ngIf="pizza">
    <div>
      <h2>{{ pizza.name }} ({{ pizza.id }})</h2>
      <button (click)="closePizza()">Fermer la pizza</button>
    </div>
    <input type="text" [value]="pizza.name" (input)="pizza.name = $any($event.target).value">
    <input type="text" [(ngModel)]="pizza.name">
    <button (click)="update()">Modifier</button>
    @if (pizza.ingredient) {
      <p>Prix: {{ pizza.price + pizza.ingredient.price }}</p>
      <p>
        Ingrédient choisi: {{ pizza.ingredient.name }}
        <img [src]="pizza.ingredient.image" [alt]="pizza.ingredient.name" width="25px">
      </p>
    } @else {
      <p>Prix: {{ pizza.price }}</p>
    }
    <div>
      <img [src]="pizza.image" [alt]="pizza.name">
    </div>
  </div>
}
