:host {
  // color: blue;
}

.pizzas {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  li:hover {
    cursor: pointer;
  }

  .selected {
    background-color: lightgray;
  }

  img {
    width: 250px;
  }
}
