<h1>{{ title }}</h1>

<app-counter [value]="5" />
<app-counter />
<app-counter [value]="9" />

<app-pizza [pizza]="selectedPizza" (closed)="unSelect($event)" />

<h2>Les pizzas</h2>
<ul class="pizzas">
  <!-- <ng-template ngFor let-pizza [ngForOf]="pizzas"> -->
    <li *ngFor="let pizza of pizzas"
      (click)="onSelect(pizza)"
      [class.selected]="selectedPizza && selectedPizza.id === pizza.id"
      [ngClass]="{
        selected: selectedPizza && selectedPizza.id === pizza.id,
        unselected: !selectedPizza || selectedPizza.id !== pizza.id
      }"
    >
      <h3>{{ pizza.name }} ({{ pizza.id }})</h3>
      <p>Prix: {{ pizza.price }}</p>
      <img [src]="pizza.image" [alt]="pizza.name">
    </li>
  <!-- </ng-template> -->

  @for (item of pizzas; track item.id) {
    <li>
      {{ item.name }} ({{ $index }})
    </li>
  }
</ul>
